@import "../../global.scss";

.education{
    height: 100vh;
    background-color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    h1{
        font-family: 'Delicious Handrawn', cursive;
        font-size: 45px;
        overflow: hidden;
        margin-left: -10px;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */ 
    }
    .vertical-timeline{
        overflow: hidden;
    }
    .vertical-timeline-element-date {
        font-size: 16px;
        color: black;
      }
  
    .vertical-timeline-element--education{
        gap: 0;
        mask-repeat: repeat;
        margin-top: 10px;
        color: black;
        overflow: auto;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        transform: scale(0.95);

        p{
            @include mobile{
                display: none;
            }
        }

        &::-webkit-scrollbar {
            display: none;
            overflow: hidden;
          }

        &:hover{
          transform: scale(1);
        }

        .date {
            color: black;
          }
        
        .vertical-timeline-element-title{
            font-size: 20px;
            color: crimson;           
        }
        .vertical-timeline-element-subtitle{
            font-size: 15px;

        }
        button{
            margin-top: 10px;
            background-color: black;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            transition: all 1s ease;


            @include mobile{
                display: flex;
                align-items: flex-start;
                margin-left: -10px;
                transform: scale(0.8);
            }
        a{
            font-family: 'Delicious Handrawn', cursive;
            font-size: 20px;
            border: none;
            color: white;
            text-decoration: none;
            padding: 0px 5px 0px 5px;
            }
        
            &:hover{
                transform: scale(0.8);
            }
        }
    }

   
}
    