@import "../../global.scss";

.portfoliolist {
    font-size: 18px;
    font-family: 'Dosis', sans-serif;
    margin-right: 50px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s ease;


    @include mobile{
       margin-right: 20px;
    }

    &.active{
        background-color: $mainColor;
        color: white;
    }
}
