@import "../../global.scss";

.footer{
   display: flex;
   align-items: center;
   position: relative;
   width: 100vw;
   height: 100vh;
   overflow: hidden;
   background-color: white;

   @include mobile{
    align-items: flex-end;
    height: 30vh;
   }
}



.f-content{

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 4rem;
    color: white;
    margin-top: -7rem;
    @include mobile{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    span{
        font-size: 20px;
        margin-top: 400px;
        
    }
}

.f-icons{
    margin-top: -3rem;
    display: flex;
    gap: 1.5rem;

    @include mobile{
       display: none;
    }
  
    a{
    &:hover{
        opacity: 50%;
    }
}
}