@import "../../global.scss";

.aboutme{
    background-color:  white;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .heading{
        margin-bottom: 20px;
        margin-left: 50%;
        align-items: center;
        h2{
            font-size: 80px;
            font-family: 'Delicious Handrawn', cursive;
        }
        h5{
            font-size: 20px;
            @include mobile{
                font-size: 25px;
            }
        }
        @include mobile{
            margin-left: 10%;
            margin-right: 10%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }
    }
    .container{
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
    @include mobile{
        display: flex;
        flex-direction: column;
    }


    .about_me{
        margin-left: 100px;
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 2rem;
        background: black;
        display: grid;
        place-items: center;
        overflow: hidden;

        @include mobile{
            background: none;
            width:65%;
        }
   
    }
    img{
       width: 85%;
        border-radius: 2rem;
        overflow: hidden;
        transform: rotate(10deg);
        transition: var(--transition);

        &:hover{
           transform: rotate(0); 
        }

        @include mobile{
            margin-right: 40px;
            width:85%;
            transform: rotate(0); 
        }
  
    }

    .about_cards{
        margin-right: 80px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        @include mobile{
            margin-right: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        
    }
    a{
        border: none;
        text-decoration: none;
        cursor: pointer;
        &:hover{
            font: black;
        }
    .about_card{
        
        background: black;
        border: 1px solid transparent;
        border-radius: 1rem;
        text-align: center;
        transition: all 1s ease;
        color: white;
        padding: 10px 5px 10px 5px;

        @include mobile{
            height: 80px;
           width: 300px;
           padding: 5px 2px 5px 2px;
        }
       

        h5{
            font-size: 0.95rem;  
            
            
        }
        small{
            font-size: 0.7rem;
            color: white;
        }
        &:hover{
          transform: scale(0.95);
          }
    }
}
    .about_icon{
        color: lightskyblue;
        font-size: 2rem;
        margin-bottom: 0.5rem;
        @include mobile{
            margin-bottom: 0.2rem;
        }
  
    }
.about_content{
    p{
        margin: 2rem 0 2.9rem;
        margin-top: 60px;
        color: black;
        font-size: 20px;

        @include mobile{
            display: none;
        }
        b{
            margin-top: 25px;
            font-size: 25px;
        }
    }
    .btn{
        margin-top: 20px;
        width: 300px;
        height: 40px;
        color: white;
        background-color: black;
        border: none;
        border-radius: 10px;
        font-weight: 300;
        cursor: pointer;
        font-family: 'Delicious Handrawn', cursive;
        font-size: 20px;
        padding: 5px 15px 5px 15px;
        transition: all 0.5s ease;
        scroll-behavior: smooth;
        text-decoration: none;

        @include mobile{
            display: none;
        }
        
        &:hover{
            background-color: rgb(195, 195, 195);
            color: black;                                   
        }
        &:focus{
            outline: black;
            box-shadow: inset;
            background-color:  rgb(205, 251, 205);
            color: black;
    }
}

        }
    }
}